# ======================
# FRONTEND
# ======================

node_modules/
dist/
build/

# ======================
# PYTHON
# ======================

.venv/
venv/
__pycache__/
*.pyc

# ======================
# VSCODE
# ======================

.vscode/

# ======================
# LOGS
# ======================

*.log

# ======================
# ENV
# ======================

.env
.env.*

# ======================
# OS
# ======================

.DS_Store
Thumbs.db

# ======================
# CACHE
# ======================

.cache/